.navbar
{
    background-color: rgb(56, 8, 53);
    text-align: left;
    line-height: 100px;
}

.navbar a
{
    color: rgb(255, 255, 255);
    padding: 36px 36px;
}

.navbar a:hover
{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.795);
}